[Desktop Entry]
Name=MyCrypto
Comment=MyCrypto is a free, open-source, client-side tool for easily & securely interacting with the Ethereum network.
Exec=xdg-open /usr/share/mycrypto/index.html
Icon=/usr/share/mew/images/mycrypto-logo-square.png
Categories=Application;Network;X-Red-Hat-Base;
Type=Application
Terminal=0
X-Desktop-File-Install-Version=0.23

